# Using MongoDB to Retrieve Information

In this notebook, we will look at the `PyMongo` library, and perform some common tasks in MongoDB with it.  We will be making use of data from [food.gov.uk](http://ratings.food.gov.uk/), which gives information about the hygiene ratings of all food establishments in the country. The tool we use to access a MongoDB database is **'MongoClient'**, further information about this tool can be found at [Mongo_Client](http://api.mongodb.com/python/current/api/pymongo/mongo_client.html).

The code required to connect to the database is as follows:

In [1]:
# You don't need to write anything here
from pymongo import MongoClient

client = MongoClient('mongodb://cpduser:M13pV5woDW@mongodb/health_data')
db = client.health_data

The MongoDB querying language is very similar to JavaScript, and in Python we make use of dictionaries to get the appropriate name/value pairs.

***WARNING!**  Make sure you are careful when you run your queries.  If you try and get all 500,000 records displaying on the page it will take a while and could well crash your browser!*

Just like using the native Mongo client, you can run functions or access a collection from the query object by using dot notation, so the `uk` collection would be `db.uk`.  You can also use `db['uk']`, which can be more useful, e.g., if you are using variable names to access the different collections.

There is a function called `collection_names` which can be performed on the database.  Run this function to see the names of the collections in the database.

In [2]:
# YOUR CODE HERE
db.collection_names
# health data in the collection

## Querying

Querying is done on collection objects.  Start with using the `find_one` function on any collection to investigate the structure of the data.

In [3]:
# You don't need to write anything here
db['uk'].find_one()

{'AddressLine1': '10 Hill Place',
 'BusinessName': '10 HILL PLACE HOTEL',
 'BusinessType': 'Hotel/bed & breakfast/guest house',
 'BusinessTypeID': '7842',
 'FHRSID': '522452',
 'Geocode': {'coordinates': [-3.184087, 55.94623], 'type': 'Point'},
 'Lat': 55.94623,
 'Lng': -3.184087,
 'LocalAuthorityBusinessID': '147905',
 'LocalAuthorityCode': '773',
 'LocalAuthorityEmailAddress': 'environmentalhealth@edinburgh.gov.uk',
 'LocalAuthorityName': 'Edinburgh (City of)',
 'LocalAuthorityWebSite': 'http://www.edinburgh.gov.uk/foodsafety',
 'NewRatingPending': 'False',
 'PostCode': 'EH8 9DS',
 'RatingDate': datetime.datetime(2012, 1, 17, 0, 0),
 'RatingKey': 'fhis_pass_en-GB',
 'RatingValue': None,
 'Region': 'scotland',
 'SchemeType': 'FHIS',
 'Scores': None,
 '_id': ObjectId('59f8a8d8e7e4f80001d1755f')}

It can be useful to run the `find_one` function when you are trying a certain set of search conditions, to check that you are getting the results you expect.  To add conditions to a query, the first parameter of the function is a dictionary in the format `{'field': 'value'}`.  Search for the first document which has a `Region` value of `'london'`

In [4]:
# YOUR CODE HERE
db['uk'].find_one({'Region': 'london'})

{'AddressLine2': '104 Tanners Lane',
 'AddressLine4': 'Barkingside',
 'BusinessName': '104 Turkish BBQ',
 'BusinessType': 'Restaurant/Cafe/Canteen',
 'BusinessTypeID': '1',
 'ConfidenceInManagement': 10,
 'FHRSID': '688551',
 'Geocode': {'coordinates': [0.082536, 51.588179], 'type': 'Point'},
 'Hygiene': 5,
 'Lat': 51.588179,
 'Lng': 0.082536,
 'LocalAuthorityBusinessID': '180512',
 'LocalAuthorityCode': '526',
 'LocalAuthorityEmailAddress': 'themis.skouros@redbridge.gov.uk',
 'LocalAuthorityName': 'Redbridge',
 'LocalAuthorityWebSite': 'http://www.redbridge.gov.uk/',
 'NewRatingPending': 'False',
 'PostCode': 'IG6 1QE',
 'RatingDate': datetime.datetime(2014, 11, 5, 0, 0),
 'RatingKey': 'fhrs_4_en-GB',
 'RatingValue': 4,
 'Region': 'london',
 'SchemeType': 'FHRS',
 'Scores': {'ConfidenceInManagement': 10, 'Hygiene': 5, 'Structural': 5},
 'Structural': 5,
 '_id': ObjectId('59f8aa15e7e4f80001d68d9f')}

### Query Operators

In addition to searching for equality, there are a range of [operators](https://docs.mongodb.com/manual/reference/operator/query/) which can be used in MongoDB, such as `$lt` for less than, `$gte` for greater than or equal to, etc.  

In this case, PyMongo is slightly different to the native Mongo client.  For PyMongo, the query is written `{field_name: {'$eq': 5} }`.  Remember that these operators need to be strings.

You'll notice that there is a dictionary inside a dictionary in that query.  This is normal, and something we'll see a lot of!

Write a query to find the first business in Southampton which has a `RatingValue` of less than 5.

In [5]:
# YOUR CODE HERE
db.southampton.find_one({'RatingValue': {'$lt': 5}})

{'AddressLine1': '110 Portswood Road',
 'AddressLine2': 'Southampton',
 'BusinessName': '7 Bone Burger Co',
 'BusinessType': 'Restaurant/Cafe/Canteen',
 'BusinessTypeID': '1',
 'ConfidenceInManagement': 10,
 'FHRSID': '706071',
 'Geocode': {'coordinates': [-1.395055, 50.922154], 'type': 'Point'},
 'Hygiene': 10,
 'Lat': 50.922154,
 'Lng': -1.395055,
 'LocalAuthorityBusinessID': '14930/0110/0/000',
 'LocalAuthorityCode': '877',
 'LocalAuthorityEmailAddress': 'hygiene.rating@southampton.gov.uk',
 'LocalAuthorityName': 'Southampton',
 'LocalAuthorityWebSite': 'http://www.southampton.gov.uk',
 'NewRatingPending': 'False',
 'PostCode': 'SO17 2FW',
 'RatingDate': datetime.datetime(2016, 2, 16, 0, 0),
 'RatingKey': 'fhrs_3_en-GB',
 'RatingValue': 3,
 'Region': 'south_east',
 'SchemeType': 'FHRS',
 'Scores': {'ConfidenceInManagement': 10, 'Hygiene': 10, 'Structural': 10},
 'Structural': 10,
 '_id': ObjectId('59f8a9aae7e4f80001d4d8e5')}

### Returning Part of a Document

By default, all values in a document will be returned from a query.  This is not always the desired outcome, so it is possible to modify which parts of the document are returned.  This is done by the optional second parameter to a `find` or `find_one` query as a dictionary in the format `{"keep_this_field": 1, "ignore_this_field": 0}`.

If this parameter exists, then any field name which is not specified will not be returned unless specifically requested.  For example, consider the code below, which returns the name of the first business from Aberdeenshire:

In [6]:
db.aberdeenshire.find_one({}, {'BusinessName': 1})

{'BusinessName': '2nd Dimensions', '_id': ObjectId('59f8a8dde7e4f80001d191a3')}

There are three things to notice about this query.  

1. Firstly, the dictionary as the first parameter is empty, meaning that there are no criteria for the search result.

2. The `BusinessName` field is returned as expected

3. The `_id` field is also returned without our asking for it!  This is an exception to the rule of requiring to request a field specifically.  In order to avoid having this field (and you will need to do this for the visualisation exercise, because having it causes problems for the `Bokeh` library), you simply request that it is not there, as in the code below:

In [7]:
db.aberdeenshire.find_one({}, {'BusinessName': 1, '_id': 0})

{'BusinessName': '2nd Dimensions'}

### Test Yourself

Write a query to return the `BusinessType` of the first business in Swansea with a `RatingValue` of 1, excluding the `_id`

In [8]:
# YOUR CODE HERE
db.swansea.find_one({'RatingValue': 1}, {'BusinessType': 1, '_id': 0})

{'BusinessType': 'Pub/bar/nightclub'}

### Cursors

Whereas **`find_one`** returns a **single record**, the **`find`** method returns a **[`Cursor`](http://api.mongodb.com/python/current/api/pymongo/cursor.html)** object.  
  
  The Cursor objects returned by the **`find`** method can also have operations performed on them such as `count` to get the amount of records or [`distinct(distinct_field)`(https://docs.mongodb.com/manual/reference/method/db.collection.distinct/) to get unique records according to that particular field.

The useful part of a `Cursor`, however, is that it can be iterated over like a Python `list`.  Each item in the cursor is an object from which fields can be accessed.  For example, to get the `RatingValue` of each establishment in Swansea, the following code would be used:

In [9]:
# You don't need to write anything here
for c in db.swansea.find({'RatingValue': 5}):
    print(c['RatingValue'])
    # We don't want to print out all of them so break out of the loop now
    break

5

Write a query which gets each different type of business in the Southampton collection.

In [12]:
# YOUR CODE HERE
db.southampton.distinct('BusinessType')

['Restaurant/Cafe/Canteen',
 'Retailers - other',
 'Hotel/bed & breakfast/guest house',
 'Hospitals/Childcare/Caring Premises',
 'Other catering premises',
 'Retailers - supermarkets/hypermarkets',
 'Mobile caterer',
 'Takeaway/sandwich shop',
 'Pub/bar/nightclub',
 'School/college/university',
 'Manufacturers/packers']

### MongoDB Aggregation Framework

For performing SQL `GROUP BY` operations such as `MIN` or `MAX` on objects, the MongoDB Aggregation framework is what you'll need to use.  It is more complicated than the simple `find` queries, as it has a [pipeline](https://docs.mongodb.com/manual/core/aggregation-pipeline/) of different operations.  For our purposes, the one we wish to concentrate on is the `$group` pipeline.

To use it, we call `db.collection.aggregate`, and pass a list as the first parameter.  Within the list, there are a series of `dict` objects representing a stage in the pipeline as `{"$stage": {"key": "value} }"`.

For grouping then, we would have key `"$group" with a value of a dict.  In the dict, we have the pairs `"output_field": {"$operator": "field_name"}`

A simple example can be seen below, which gives the sum of each different business type in York.  Note the following things about it:
- The list parameter, with the nested objects inside it.
- The `_id` of $BusinessType - this is the field we're grouping on.  In this case, the `$` sign means that we are getting the value of the field.
- The output field `count` has the `"$sum"`, with each instance being given a weighting of 1.  To double the value of this field, we could simply use `{"$sum": 2}` instead.

In [13]:
# You don't need to write anything here
coll = db.york.aggregate(
    [
        {"$group": { "_id": "$BusinessType", "count": {"$sum": 1} } }
    ]
)
for dot in coll:
    print(dot)

{'count': 50, '_id': 'Mobile caterer'}
{'count': 53, '_id': 'Retailers - supermarkets/hypermarkets'}
{'count': 15, '_id': 'Distributors/Transporters'}
{'count': 1, '_id': 'Importers/Exporters'}
{'count': 183, '_id': 'Takeaway/sandwich shop'}
{'count': 10, '_id': 'Farmers/growers'}
{'count': 273, '_id': 'Other catering premises'}
{'count': 340, '_id': 'Retailers - other'}
{'count': 93, '_id': 'School/college/university'}
{'count': 184, '_id': 'Hotel/bed & breakfast/guest house'}
{'count': 25, '_id': 'Manufacturers/packers'}
{'count': 232, '_id': 'Pub/bar/nightclub'}
{'count': 144, '_id': 'Hospitals/Childcare/Caring Premises'}
{'count': 432, '_id': 'Restaurant/Cafe/Canteen'}

Write a function which gives a count of the different `RatingValue` in `db.uk`.

In [18]:
# YOUR CODE HERE
ratings = db.uk.aggregate(
    [
        {"$group": {"_id": "$RatingValue", "count":{"$sum": 1}}}
    ])
for val in ratings:
    print(val)

{'count': 1411, '_id': 0}
{'count': 11096, '_id': 2}
{'count': 42288, '_id': 3}
{'count': 12831, '_id': 1}
{'count': 85219, '_id': 4}
{'count': 270611, '_id': 5}
{'count': 88363, '_id': None}